<div class="container">
    <div class="prevTile">
        <h3>Превью</h3>
        <div class="items">
            <div class="pic" [ngStyle]="{'background-image': 'url('+imagePath+')'}"></div>
            <div class="bottomCard">
                <div class="info">
                    <h3>{{title}}</h3>
                    <input type="number" min="1" [max]="maxCount" [(ngModel)]="count">
                </div>
                <button>{{price*count}}$</button>
            </div>
        </div>
    </div>

    <div class="line">

    </div>

    <div class="editTile">
        <h3>Редактирование товара</h3>
        <div class="titleInput">
            <p>Заголовок</p>
            <input class="titleInp" type="text" maxlength="12" [(ngModel)]="title" (change)="changeInfo()">
        </div>
        <div class="countInput">
            <p>Макс. штук</p>
            <input class="countInp" min="1" type="number" [(ngModel)]="maxCount" (change)="changeInfo()">
        </div>
        <div class="priceInput">
            <p>Цена</p>
            <input class="priceInp" min="1" type="number" [(ngModel)]="price" (change)="changeInfo()">
        </div>
        <div class="fileInput">
            <input type="file" (change)="upload($event, btn)" id="file" accept="*.png.jpg" (change)="changeInfo()">
            <label for="file" #btn>{{fileText}}</label>
            <div class="editBtns">
                <button class="addItem" (click)="UpdateData()" *ngIf="!added">Обновить</button>
                <button class="addedItem" *ngIf="added">{{progress}}</button>
                <button class="delItem" (click)="deleteItem(); deletedItem()"><img src="../../assets/icons/delete.svg"></button>
            </div>
        </div>

    </div>
</div>